<div class="container-fluid photography">
	<div class="row">
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Lost-in-the-Desert-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Mountain-Climbing-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('High-Desert-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Danger-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Desert-Cat-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Mountain-Views-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Sunsets-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Mountain-Reflections-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Tropic-Capricorn-Atacama.jpg') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Atacama Desert, Chile</span>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 img-col">
			<div class="image-container">
				<%= image_tag('Life-on-Mars.jpg', class: 'vert') %>
			</div>
			<div class="img-credits">
				<i class="fa fa-map-marker fa-lg"></i>
				<span>Sahara Desert, Morocco</span>
			</div>
		</div>
	</div>

</div>